div.container#blur {
    position: relative;
    width: 1515px;
    height: 941px;
    background: #F7F7F7;
    border-radius: 16px;
}

div#add-page p.addtop-progress {
    /* Auto layout */

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 8px 10px 0px;

    position: absolute;
    width: 78px;
    height: 40px;
    left: -14px;
    top: -10px;

    border-radius: 8px;

    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    /* identical to box height, or 150% */


    /* gray blue/gray 4 - place holder */

    color: #7E7D88;


    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0px 8px;
}

main#addprogress {
    position: absolute;
    width: 1192px;
    height: 604px;
    left: 280px;
    top: 170px;

    /* White */

    background: #FFFFFF;
    /* Shadowbox */

    box-shadow: 2px 2px 8px rgba(232, 239, 244, 0.8);
    border-radius: 16px;
}

main#addprogress h1.top {
    position: absolute;
    width: 201px;
    height: 48px;
    left: 501px;
    top: 24px;

    /* 32/32 Bold */

    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 48px;
    /* identical to box height, or 150% */


    /* Orange/$-Orange-500 */

    color: #FF7506;
}

main#addprogress h2.top {
    position: absolute;
    width: 265px;
    height: 30px;
    left: 464px;
    top: 92px;

    /* 20/20 Bold */

    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    /* identical to box height, or 150% */


    /* Gray/$-gray-400 Text */

    color: #535261;

}

main#addprogress form#addprogress div.btn {
    position: absolute;
    width: 262px;
    height: 48px;
    left: 441px;
    top: 258px;
}

main#addprogress form#addprogress div {
    position: absolute;
    width: 115px;
    height: 48px;
    left: 147px;
    top: 0px;
}

form#addprogress div.btn input.submit {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 24px;

    position: absolute;
    width: 115px;
    height: 48px;
    left: 161px;
    top: 0px;

    /* Orange/$-Orange-400 */

    background: #FF9138;
    /* down */

    box-shadow: 0px 0px 6px #E7E9F2;
    border-radius: 8px;
    border: 1.5px solid #D4D4D7;

    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    /* identical to box height */


    /* white */

    color: #FFFFFF;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 8px;
}

form#addprogress div.btn a.cancel {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 24px;

    position: absolute;
    width: 115px;
    height: 48px;
    left: 0px;
    top: 0px;

    /* Orange/$-Orange-50 */

    background: #FFF2E7;
    /* Orange/$-Orange-400 */

    border: 1.5px solid #FF9138;
    box-sizing: border-box;
    /* down */

    box-shadow: 0px 0px 6px #E7E9F2;
    border-radius: 8px;

    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    /* identical to box height */


    /* Orange/$-Orange-400 */

    color: #FF9138;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 8px;

    text-decoration: none;
}

option.deco {
    display: none;
}

form#addprogress select#addprogress-service {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 12px;

    position: absolute;
    width: 400px;
    height: 44px;
    left: 396px;
    top: 141px;

    /* white */

    background: #FFFFFF;
    /* Gray/$-gray-100 */

    border: 1.5px solid #D4D4D7;
    box-sizing: border-box;
    border-radius: 8px;
}

/* popup */


/* The actual popup */
.popuptext-progress::after {}

.popuptext-progress.show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
    position: absolute;
    width: 469px;
    height: 385px;
    left: 531px;
    top: 241px;

    background: #FFFFFF;
    border-radius: 24px;
}

.container#blur.active {
    filter: contrast(.8);
    pointer-events: none;
    user-select: none;
}

span.popuptext-progress {
    display: none;
    visibility: hidden;
}

span.popuptext-progress.show {
    display: block;
    visibility: visible;
}

span.popuptext-progress.show div.footer {
    position: absolute;
    width: 469px;
    height: 110px;
    left: 0px;
    top: 275px;

    /* Orange/$-Orange-400 */

    background: #FF9138;
    border-radius: 24px;
}

span.popuptext-progress.show h1 {
    position: absolute;
    width: 279px;
    height: 48px;
    left: 95px;
    top: 48px;

    /* 32/32 Bold */

    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 48px;
    /* identical to box height, or 150% */


    /* Gray/$-gray-400 Text */

    color: #535261;
}

span.popuptext-progress.show p {
    position: absolute;
    width: 236px;
    height: 60px;
    left: 125px;
    top: 75px;

    font-family: 'Nunito';
    font-style: normal;
    font-weight: 800;
    font-size: 56px;
    line-height: 60px;
    text-align: center;
    /* identical to box height, or 107% */


    /* Orange/$-Orange-500 */

    color: #FF7506;
}

span.popuptext-progress.show h5 {
    position: absolute;
    width: 321px;
    height: 27px;
    left: 74px;
    top: 204px;

    /* 18/18 Reg */

    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    /* identical to box height, or 150% */


    /* Gray/$-gray-500 */

    color: #282739;
}

span.popuptext-progress.show h4 {
    position: absolute;
    left: 279px;
    top: 215px;
}

span.popuptext-progress.show a.iconx {
    position: absolute;
    width: 24px;
    height: 24px;
    right: 16px;
    top: 16px;

}

span.popuptext-progress.show div.footer div.order-time {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;

    position: absolute;
    width: 335px;
    height: 33px;
    left: 67px;
    top: 16px;
}

span.popuptext-progress.show div.footer div.order-time label {
    position: static;
    width: 143px;
    height: 33px;
    left: 0px;
    top: 0px;
    /* 22/22 Bold */

    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 33px;
    /* identical to box height, or 150% */


    /* White */

    color: #FFFFFF;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 8px;
}

span.popuptext-progress.show div.footer div.order-time p {
    position: static;
    width: 184px;
    height: 33px;
    left: 151px;
    top: 0px;
    /* 22/22 Bold */

    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 33px;
    /* identical to box height, or 150% */


    /* White */

    color: #FFFFFF;


    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0px 8px;
}

span.popuptext-progress.show div.footer div.use-time {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;

    position: absolute;
    width: 335px;
    height: 33px;
    left: 61px;
    top: 61px;
}

span.popuptext-progress.show div.footer div.use-time label {
    position: static;
    width: 135px;
    height: 33px;
    left: 0px;
    top: 0px;

    /* 22/22 Bold */

    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 33px;
    /* identical to box height, or 150% */


    /* White */

    color: #FFFFFF;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 16px;
}

span.popuptext-progress.show div.footer div.use-time p {
    position: static;
    width: 184px;
    height: 33px;
    left: 151px;
    top: 0px;

    /* 22/22 Bold */

    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 33px;
    /* identical to box height, or 150% */


    /* White */

    color: #FFFFFF;


    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0px 16px;
}