div#add-page p.addtop-service {
    /* Auto layout */

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 8px 10px 0px;

    position: absolute;
    width: 78px;
    height: 40px;
    left: -14px;
    top: -10px;

    border-radius: 8px;

    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    /* identical to box height, or 150% */


    /* gray blue/gray 4 - place holder */

    color: #7E7D88;


    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0px 8px;
}

main#addservice {
    position: absolute;
    width: 1192px;
    height: 534px;
    left: 300px;
    top: 172px;

    /* White */

    background: #FFFFFF;
    /* Shadowbox */

    box-shadow: 2px 2px 8px rgba(232, 239, 244, 0.8);
    border-radius: 16px;
}

main#addservice p.top {
    position: absolute;
    width: 154px;
    height: 30px;
    left: 24px;
    top: 16px;

    /* 20/20 Bold */

    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    /* identical to box height, or 150% */


    /* Orange/$-Orange-500 */

    color: #FF7506;
}

main#addservice div.servicecode {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;

    position: absolute;
    width: 553px;
    height: 76px;
    left: 24px;
    top: 58px;
}

main#addservice div.servicecode label {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;

    position: static;
    width: 92px;
    height: 24px;
    left: 0px;
    top: 0px;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 8px 0px;

    font-family: 'Nunito';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */

    display: flex;
    align-items: center;

    /* Gray/$-gray-500 */

    color: #282739;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 4px;
}

main#addservice div.servicecode input {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 270px 10px 12px;

    position: static;
    width: 553px;
    height: 44px;
    left: 0px;
    top: 32px;

    /* white */

    background: #FFFFFF;
    /* Gray/$-gray-100 */

    border: 1.5px solid #D4D4D7;
    box-sizing: border-box;
    border-radius: 8px;

    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 8px 0px;
}

main#addservice div.servicename {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;

    position: absolute;
    width: 553px;
    height: 76px;
    left: 24px;
    top: 146px;
}

main#addservice div.servicename label {
    /* Auto layout */

    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;

    position: static;
    width: 101px;
    height: 24px;
    left: 0px;
    top: 0px;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 8px 0px;

    font-family: 'Nunito';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */

    display: flex;
    align-items: center;

    /* Gray/$-gray-500 */

    color: #282739;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 4px;
}

main#addservice div.servicename input {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 270px 10px 12px;

    position: static;
    width: 553px;
    height: 44px;
    left: 0px;
    top: 32px;

    /* white */

    background: #FFFFFF;
    /* Gray/$-gray-100 */

    border: 1.5px solid #D4D4D7;
    box-sizing: border-box;
    border-radius: 8px;

    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 8px 0px;
}

main#addservice div.descriptive {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;

    position: absolute;
    width: 553px;
    height: 164px;
    left: 601px;
    top: 58px;
}

main#addservice div.descriptive label {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;

    position: static;
    width: 45px;
    height: 24px;
    left: 0px;
    top: 0px;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 8px 0px;

    font-family: 'Nunito';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */

    display: flex;
    align-items: center;

    /* Gray/$-gray-500 */

    color: #282739;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 4px;
}

main#addservice div.descriptive input {
    /* Auto layout */

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 10px 270px 10px 12px;

    position: static;
    width: 553px;
    height: 132px;
    left: 0px;
    top: 32px;

    /* white */

    background: #FFFFFF;
    /* Gray/$-gray-100 */

    border: 1.5px solid #D4D4D7;
    box-sizing: border-box;
    border-radius: 8px;

    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 8px 0px;
}

main#addservice div.note {
    position: absolute;
    width: 232px;
    height: 24px;
    left: 24px;
    top: 494px;

    /* 14/14 Reg */

    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    /* identical to box height, or 150% */

    display: flex;
    align-items: center;

    /* Gray/$-gray-300 */

    color: #7E7D88;
}

form#addservice p.text-rule {
    position: absolute;
    width: 136px;
    height: 30px;
    left: 24px;
    top: 238px;

    /* 20/20 Bold */

    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    /* identical to box height, or 150% */


    /* Orange/$-Orange-500 */

    color: #FF7506;
}

main#addservice form#addservice div.btn {
    position: absolute;
    width: 326px;
    height: 48px;
    left: 411px;
    top: 585px;
}

form#addservice div.btn input.submit {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 24px;

    position: absolute;
    width: 147px;
    height: 48px;
    left: 179px;
    top: 0px;

    /* Orange/$-Orange-400 */

    background: #FF9138;
    /* down */

    box-shadow: 0px 0px 6px #E7E9F2;
    border-radius: 8px;
    border: 1.5px solid #D4D4D7;

    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    /* identical to box height */


    /* white */

    color: #FFFFFF;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 8px;
}

form#addservice div.btn a.cancel {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 24px;

    position: absolute;
    width: 147px;
    height: 48px;
    left: 0px;
    top: 0px;

    /* Orange/$-Orange-50 */

    background: #FFF2E7;
    /* Orange/$-Orange-400 */

    border: 1.5px solid #FF9138;
    box-sizing: border-box;
    /* down */

    box-shadow: 0px 0px 6px #E7E9F2;
    border-radius: 8px;

    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    /* identical to box height */


    /* Orange/$-Orange-400 */

    color: #FF9138;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 8px;

    text-decoration: none;
}

form#addservice div.auto {
    position: static;
    width: 337px;
    height: 44px;
    left: 24px;
    top: 280px;
}

form#addservice div.auto input#auto {
    position: absolute;
    width: 20px;
    height: 20px;
    left: 24px;
    top: 292px;

    background: #FFFFFF;
    /* Blue */

    border: 1.5px solid #4277FF;
    box-sizing: border-box;
    border-radius: 4px;
}

form#addservice div.auto label {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;

    position: absolute;
    width: 120px;
    height: 24px;
    left: 52px;
    top: 290px;

    font-family: 'Nunito';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */

    display: flex;
    align-items: center;

    /* Gray/$-gray-500 */

    color: #282739;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 4px;
}

form#addservice div.auto span {
    position: absolute;
    width: 28px;
    height: 24px;
    left: 271px;
    top: 290px;

    /* 16/16 Semi */

    font-family: 'Nunito';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */

    display: flex;
    align-items: center;

    /* Gray/$-gray-500 */

    color: #282739;
}

form#addservice div.auto div {
    position: static;

}

form#addservice div.auto input.start {
    position: absolute;
    width: 61px;
    height: 44px;
    left: 187px;
    top: 280px;

    /* white */

    background: #FFFFFF;
    /* Gray/$-gray-100 */

    border: 1.5px solid #D4D4D7;
    box-sizing: border-box;
    border-radius: 8px;

    /* 16/16 Reg */

    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */


    /* Gray/$-gray-400 Text */

    color: #535261;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 10px;
}

form#addservice div.auto input.end {
    position: absolute;
    width: 61px;
    height: 44px;
    left: 300px;
    top: 280px;

    /* white */

    background: #FFFFFF;
    /* Gray/$-gray-100 */

    border: 1.5px solid #D4D4D7;
    box-sizing: border-box;
    border-radius: 8px;

    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */


    /* Gray/$-gray-400 Text */

    color: #535261;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 10px;
}

form#addservice div.prefix {
    position: static;
    width: 224px;
    height: 44px;
    left: 24px;
    top: 336px;
}

form#addservice div.prefix input#prefix {
    position: absolute;
    width: 20px;
    height: 20px;
    left: 19px;
    top: 348px;

    background: #FFFFFF;
    /* Blue */

    border: 1.5px solid #4277FF;
    box-sizing: border-box;
    border-radius: 4px;
}

form#addservice div.prefix label {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;

    position: absolute;
    width: 46px;
    height: 24px;
    left: 52px;
    top: 346px;

    font-family: 'Nunito';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */

    display: flex;
    align-items: center;

    /* Gray/$-gray-500 */

    color: #282739;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 4px;
}

form#addservice div.prefix input {
    position: absolute;
    width: 61px;
    height: 44px;
    left: 187px;
    top: 336px;

    /* white */

    background: #FFFFFF;
    /* Gray/$-gray-100 */

    border: 1.5px solid #D4D4D7;
    box-sizing: border-box;
    border-radius: 8px;

    /* 16/16 Reg */

    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */


    /* Gray/$-gray-400 Text */

    color: #535261;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 10px;
}

form#addservice div.surfix {
    position: static;
    width: 224px;
    height: 44px;
    left: 24px;
    top: 392px;
}

form#addservice div.surfix input#surfix {
    position: absolute;
    width: 20px;
    height: 20px;
    left: 19px;
    top: 404px;

    background: #FFFFFF;
    /* Blue */

    border: 1.5px solid #4277FF;
    box-sizing: border-box;
    border-radius: 4px;
}

form#addservice div.surfix label {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;

    position: absolute;
    width: 48px;
    height: 24px;
    left: 52px;
    top: 402px;

    font-family: 'Nunito';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */

    display: flex;
    align-items: center;

    /* Gray/$-gray-500 */

    color: #282739;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 4px;
}

form#addservice div.surfix input {
    position: absolute;
    width: 61px;
    height: 44px;
    left: 187px;
    top: 392px;

    /* white */

    background: #FFFFFF;
    /* Gray/$-gray-100 */

    border: 1.5px solid #D4D4D7;
    box-sizing: border-box;
    border-radius: 8px;

    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */


    /* Gray/$-gray-400 Text */

    color: #535261;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 10px;
}

form#addservice div.reset {
    position: static;
    width: 141px;
    height: 24px;
    left: 24px;
    top: 448px;
}

form#addservice div.reset input#reset {
    position: absolute;
    width: 20px;
    height: 20px;
    left: 24px;
    top: 450px;

    background: #FFFFFF;
    /* Blue */

    border: 1.5px solid #4277FF;
    box-sizing: border-box;
    border-radius: 4px;
}

form#addservice div.reset label {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;

    position: absolute;
    width: 113px;
    height: 24px;
    left: 52px;
    top: 448px;

    font-family: 'Nunito';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */

    display: flex;
    align-items: center;

    /* Gray/$-gray-500 */

    color: #282739;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 4px;
}